<div class="container">
    <h2>Student Details</h2>
    <table class="table table-bordered">
        <thead>
            <tr >
                <th>Student.rollno</th>
                <th>Student.name</th>
                <th>Student.id</th>
            <tr >
            </thead>
            <tbody>
                <tr>
                    <td>01</td>
                    <td>Aarthi</td>
                    <td>73772126101</td>
                </tr>
                
            </tbody>
    </table>
</div>